.App {
  text-align: center;
}

.title {
  color: #0c4790;
}

.mexico_flag {
  transition: transform .3s;
  width: 400px;
}

.mexico_flag:hover {
  transform: scale(1.3);
}

.App-header {
  background-color: #f7f7f7;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
